.App {
  text-align: center;
}

.body{
  padding-top: 40px;
}

.completed {
  text-decoration: line-through;
  color: green;
}

/* TodoList.css */
.todo-list-container {
  position: relative;
  top: 20px;
  justify-content: center;
  border-radius: 8px;
  background-color: lightblue;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.todo-items-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 4px;
  cursor: pointer;
}

.todo-item.completed {
  text-decoration: line-through;
  color: #888;
}

.remove-button {
  margin-left: auto;
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.complete-button{
  margin-left: auto;
  background-color: green;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.todo-input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover,
.remove-button:hover {
  background-color: #0056b3;
}

.todoHeading{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
